body {
    background-color: #F0F0F0;
    padding: 0px;
}


div {
    margin: 0 auto;
    width: fit-content;
}


.text {
    font-family: Poppins;
}


.nav {
    list-style: none;
    text-align: center;
}


#title {
    font-size: 70px;
    font-weight: 600;
    bottom: 0;
    top: 0;
    padding: 0%;
    text-align: center;
}


#result {
    font-size: 45px;
    font-weight: 400;
    border-style: solid;
    border-width: medium;
    border-radius: 8px;
    border-color: #A6C3D1;
    padding: 16px;
    background-color: #A6C3D1;
    text-align: center;
}


#input {
    font-family: Poppins;
    border-style: solid;
    border-width: medium;
    border-color: #DADADA;
    background-color: #DADADA;
    border-radius: 8px;
    width: 250px;
    height: 75px;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    font-size: 30px;
    align-self: center;

}

#button {
    background-color: #A6C3D1;
    border: solid;
    border-color: #A6C3D1;
    margin: 10px;
    padding: 10px;
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    text-align: center;
    border-radius: 8px;
    align-self: center;
}



